@{
    ViewData["Title"] = "Sign Up for Free";
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <form method="post" action="/home/save">
        <div class="row">
            <div class="col-sm-3">
                First Name:
            </div>
            <div class="col-sm-9">
                <input type="text" name="firstname" id="firstname" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Last Name:
            </div>
            <div class="col-sm-9">
                <input type="text" name="lastname" id="lastname" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Address:
            </div>
            <div class="col-sm-9">
                <input type="text" name="address" id="address" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Email ID:
            </div>
            <div class="col-sm-9">
                <input type="text" name="emailid" id="emailid" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Password:
            </div>
            <div class="col-sm-9">
                <input type="password" name="password" id="password" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Date Of Birth:
            </div>
            <div class="col-sm-9">
                <input type="date" name="dob" id="dob" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                City:
            </div>
            <div class="col-sm-9">
                <input type="text" name="city" id="city" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                Zip Code:
            </div>
            <div class="col-sm-9">
                <input type="text" name="zipcode" id="zipcode" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                State:
            </div>
            <div class="col-sm-9">
                <input type="text" name="state" id="state" />
            </div>
        </div>
        <div class=" row">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <div>
            <span class="text-center">@ViewData["Error"]</span>
        </div>


    </form>
</div>
